
#TODO

# rpi.gpio (sudo apt-get install rpi.gpio)

python==3.7.3
pytest
opencv-python
imutils
dropbox
flask==1.0.2
flask-basicauth
flask-wtf
wtforms
datetime
azure-iot-device  ????
smbus
plotly
scipy
