<!DOCTYPE html>
   <head>

		<script>
				function refreshPage(){
					window.location.reload();
				} 
				</script>

		<!-- <meta http-equiv="refresh" content="30" > -->



	  <title>IoT Home</title>
	
	  {% with messages = get_flashed_messages() %}
  	{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  	{% endif %}
	{% endwith %}

	<a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="NEW YORK" data-label_2="WEATHER" data-theme="metallic" >NEW YORK WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
<br>

				<h1>__________________________ IoT Home __________________________ </h1>
		
	<link rel="stylesheet" href="../static/style.css/">
   </head>
   <body>
		
		<div>
			<br>
			<h2> Relays (Status & Control) </h2>
		<table>
			<tr >
				<td width=85>
					<h3> Light ({{ relay1_Sts[0]  }}) </h3>
				</td>
				<td width=70>
					{% if  relay1_Sts[1]  == 'auto' or relay1_Sts[1]  == 'timer' %}
						<img src="{{url_for('static', filename='light_auto_icon3.jpg')}}" />					
					{% elif  relay1_Sts[0]  == 'Off' %}
						<img src="{{url_for('static', filename='light_off_icon3.jpg')}}" />
					{% else %}
						<img src="{{url_for('static', filename='light_on_icon3.jpg')}}" />
					{% endif %}
				</td>
				<td width=77 >
					{% if  relay1_Sts[0]   == 'On' %}
						<a href="/Relays/1/Off"class="button">Turn Off</a>
					{% else %}
						<a href="/Relays/1/On" class="button">Turn On</a>
					{% endif %}
				</td>
				<td width=60>
					<a href="/timer/Relays/1"class="button">Timer</a>
				</td>	
			</tr>
			<tr>
				<td>
					<h3> 
						Heater ({{ 'Auto' if relay2_Sts[1] == 'auto' else relay2_Sts[0]  }})
					</h3>
				</td>
				<td>
					{% if relay2_Sts[1] == 'auto' or relay2_Sts[1] == 'timer' %}
						<img src="{{url_for('static', filename='light_auto_icon3.jpg')}}" /> 
					{% elif  relay2_Sts[0]  == 'Off' %}
						<img src="{{url_for('static', filename='light_off_icon3.jpg')}}" />
					{% else %}
						<img src="{{url_for('static', filename='light_on_icon3.jpg')}}" />
					{% endif %}
				</td>	
				<td>
					{% if  relay2_Sts[0]   == 'On' %}
						<a href="/Relays/2/Off"class="button">Turn Off</a>
					{% else %}
						<a href="/Relays/2/On" class="button">Turn On</a>
					{% endif %}
				</td>
				<td>
					<a href="/timer/Relays/2"class="button">Timer</a>
				</td>
				<td>
					<a href="/auto/Relays/2"class="button">Auto</a>
				</td>
			</tr>
			<tr>
				<td>
					<h3> Device 1 ({{ relay3_Sts[0]  }}) </h3>
				</td>
				<td>
						{% if relay3_Sts[1] == 'auto' or relay3_Sts[1] == 'timer' %}
							<img src="{{url_for('static', filename='light_auto_icon3.jpg')}}" />
						{% elif  relay3_Sts[0]  == 'Off' %}
							<img src="{{url_for('static', filename='light_off_icon3.jpg')}}" />
						{% else %}
							<img src="{{url_for('static', filename='light_on_icon3.jpg')}}" />
						{% endif %}
				</td>
				<td>
					{% if  relay3_Sts[0]   == 'On' %}
						<a href="/Relays/3/Off"class="button">Turn Off</a>
					{% else %}
						<a href="/Relays/3/On" class="button">Turn Off</a>
					{% endif %}
				</td>
				<td>
					<a href="/timer/Relays/3"class="button">Timer</a>
				</td>	
			</tr>
			<tr>
				<td>
					<h3> Device 2 ({{ relay4_Sts[0]  }})</h3>
				</td>
				<td>
						{% if relay4_Sts[1] == 'auto' or relay4_Sts[1] == 'timer' %}
							<img src="{{url_for('static', filename='light_auto_icon3.jpg')}}" />
						{% elif  relay4_Sts[0]  == 'Off' %}
							<img src="{{url_for('static', filename='light_off_icon3.jpg')}}" />
						{% else %}
							<img src="{{url_for('static', filename='light_on_icon3.jpg')}}" />
						{% endif %}
				</td>
				<td>
					{% if  relay4_Sts[0]   == 'On' %}
						<a href="/Relays/4/Off"class="button">Turn Off</a>
					{% else %}
						<a href="/Relays/4/On" class="button">Turn On</a>
					{% endif %}
				</td>
				<td>
					<a href="/timer/Relays/4"class="button">Timer</a>
				</td>	
			</tr>
		</table>
	</div>
<br>
<br>

	<div>
		<h2>Sensor Data</h2>

		<table>
			<tr>
				<td>
					<p style="color:white ;">
						
						Temperature OnBoard: <strong style="color:yellow;">{{ off_chip_temperature }} C°</strong><br>
						Temperature OnBoard: <strong style="color:yellow;">{{ onboard_temperature }} C°</strong><br>
						Humidity: <strong style="color:yellow;">{{ onboard_humidity }} %</strong><br>
						
					</p>
				</td>
				<td></td><td></td><td></td><td></td><td></td>
				<td>
					<p style="color:white ;">
						
						Pressure: <strong style="color:yellow;">{{ barometer_pressure }} Pa</strong>	<br>
						Barometer Temp: <strong style="color:yellow;">{{ barometer_temperature }} C°</strong><br>
						Brightness: <strong style="color:yellow;">{{ brightness }} lm</strong><br>
						
					</p>

				</td>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				<td>
						<button type="submit"  onClick="refreshPage()"><a style="font-size: 11pt;">Update</a></button>
				</td>
			</tr>
		</table>
		<br>
		<iframe id="myIframe" src="{{ url_for('static', filename='sensor_chart.html')}}" width="1000" height="500"></iframe>
		
		<script language="javascript" type="text/javascript">
			getElementById('myIframe').contentDocument.location.reload()
		</script>

	</div>

	<div>
		<br>
		<br>
		<br>

		<h2>Security</h2>

		<br>

		<table>
			<tr>
				<td>
						<style>
								.containerdiv { float: left; position: relative; } 
								.cornerimage { position: absolute; top: 0; right: 0; } 
						</style>
								
								<div class="containerdiv">
									
									{% if  webcam_Sts   == 'On' %}
									<img src="{{ url_for('app.video_feed') }}" >
									
									{% elif camera_Sts == 'On' %}

    								<img src="{{url_for('static', filename='surveillance_wallpaper.png')}}" >
									
									{% else %}

									<img src="{{url_for('static', filename='webcam_wallpaper.png')}}" >
									
									{% endif %}
								<div>


						
								</td>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				<td>
						<a href="/webcam/On"class="button">Open Webcam</a><br>
						<br>
						<a href="/webcam/Off"class="button">Close Webcam</a>
				</td>
			</tr>
		</table>

		<div></div>
		<br>
		<br>
		<table>
			<tr>
				<td>
					{% if camera_Sts == 'On' %}
					<img src="{{url_for('static', filename='sirena100.png')}}" >
					{% else %}
					<img src="{{url_for('static', filename='sirena100offnew.png')}}" >
					{% endif %}
				</td>
				<td>
					<br>
					<br>
					<br>
					<a style="color: crimson;" href="/securityAlarm/On"class="button">Activate Alarm</a>
					<a style="color: crimson;" href="/securityAlarm/Off"class="button">Deactivate Alarm</a>
				</td>

			</tr>
		</table>
	</div>

	<table>
		<tr>
			<td>
					<b style="color:red;">Security Log: </b>
			</td>
			<td  width="635px" style="text-align:right;">
					<button type="submit"  onClick="refreshPage()"><a style="font-size: 11pt;">Update</a></button>
			</td>
		</tr>
		</table>
				
				

				<div  id="Container" style="height:300px;width:700px;overflow:auto;border:5px solid red;padding:1%">

						
					{% if camera_Sts == 'On' and security_log_messages %}

						{% for message in security_log_messages %}
							
						<a style="color:white;"> {{message}} </a> <br>
						
						{% endfor %}

					{% elif camera_Sts == 'On' and not security_log_messages %}

					<a style="color:white;"> Loading... [press "Update" button] </a>

					{% else %}

					<a style="color:white;"> Security Alarm desactivated </a>

					{% endif %}
						
				</div>

	
	

	<br>
	<br>

	
   </body>
</html>